<div class='container'>
	<h1>BIENVENUE !</h1>
	<p>Voici tous les potins disponibles sur notre site :</p>

	<% @potins.each_with_index do |potin, i| %>
		<div class='container'>
			<%= link_to 'Anecdote n°'+(i+1).to_s, gossip_path(potin), class:'col-3' %>
      		<span class='col-3'> <%= potin.author %> </span>
      		<span class='col-6'> <%= potin.content %> </span>
		</div>
	<% end %>

</div>

