<h1>PAGE POTIN</h1>

<p>Voici la page du potin n°<%= @potin.id %></p>
<p>Son auteur : <%= @potin.author %> </p>
<p>Le contenu du potin : <%= @potin.content %> </p>

<a href='/potins/<%= @potin.id +1 %>/edit'>
  <button>Editer le potin</button>
</a>

<a href='/'>
  <button>Retour à la page d'accueil</button>
</a>