<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<h1>Voici notre équipe lol mdr</h1>
<table>
	<tr>
		<td> Champion</td>
		<td> du </td>
		<td>monde</td>
	</tr>
</table>
